{% extends "base.html.twig" %}

{% block title %}Search{% endblock %}

{% block body %}

<h1> Search </h1>

{{ include('./form/navbar.html.twig') }}


<form>
    <p>
        <label>Search:
            <input type="search" name="search" value="{{ search }}">
        </label>
    </p>
</form>

{% endblock %}