<footer>
<div class="footer-inside">

    <p>
        © Anna Nilsson.
    </p>

    <a href="https://github.com/Aeen/anns21-mvc" title="Annas Github" target="_blank">
        <img src="img/github.png" alt="Annas Github">
    </a>

</div>
</footer>