<header>
<div class="header-inside">

<div class="logo">
LOGO
</div>

<nav>
    <div>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
        </ul>
    </div>
</nav>

<div class="break"></div> <!-- break -->

</div>
</header>