<header>
<div class="header-inside">

<div class="logo">
<img src="img/nilsson-logo.png" alt="Annas logotype" width="200px">
</div>

<nav>
        <ul>
            <li>
                <a href="{{ url('home') }}">Home</a>
                <a href="{{ url('about') }}">About</a>
                <a href="{{ url('report') }}">Report</a>
            </li>
        </ul>
</nav>


</div>
</header>