<header class="index-header">
<div class="header-inside">

<div class="logo">
<img src="img/nilsson-logo.png" alt="Annas logotype" width="200px">
</div>

{{ include('./incl/navbar.html.twig') }}

</div>

<div class="break"></div> <!-- break -->

<h3 class="header-text">
    Mitt namn är
</h3>

<div class="break"></div> <!-- break -->

<h5 class="header-name">
    Anna Nilsson
</h5>

<div class="break"></div> <!-- break -->

<div class="wrapper">
    <h2 class="typing">
        Välkommen till min sida!
    </h2>
</div>


</header>