<header>
<div class="header-inside">

<nav class="navbar mepage">
    <ul>
        <li><a href="{{ path("home") }}">me/report</a></li>
    </ul>
</nav>

{{ include('./incl/projectnavbar.html.twig') }}

</div>
</header>