<nav class="navbar">
    <ul>
        <li><a href="{{ path("project") }}">Home</a></li> | 
        <li><a href="{{ path("create_game") }}">Play</a></li> |
        <li><a href="{{ path("cleancode") }}">Clean code</a></li> |
        <li><a href="{{ path("project_about") }}">About</a></li>
    </ul>
</nav>