{% extends 'base.html.twig' %}

{% block title %}Övningar{% endblock %}

{% block body %}

<h1> Övningar </h1>

<nav class="navbar">
    <ul>
        <li><a href="{{ path("form-login") }}">Form</a></li>
    </ul>
</nav>

<div class="practice-img">
    <img src="{{ asset("img/pexels-practice.jpg") }}" alt="Dekorativ bild"
</div>

{% endblock %}