{% extends 'base.html.twig' %}

{% block title %}Övningar{% endblock %}

{% block body %}

    <h1> Övningar </h1>

    <p class="ovning"> Kmom02 </p>

    <nav class="navbar">
        <ul>
            <li><a href="{{ path("form-login") }}">Form</a></li> | 
            <li><a href="{{ path("dice-home") }}">Dice</a></li>
        </ul>
    </nav>

    <p class="ovning"> Kmom05 </p>

    <nav class="navbar">
        <ul>
            <li><a href="{{ path("product") }}">Product</a></li>
        </ul>
    </nav>

    <div class="practice-img">
        <img src="{{ asset("img/pexels-practice.jpg") }}" alt="Dekorativ bild">
    </div>

{% endblock %}