{% extends 'base.html.twig' %}

{% block title %}Uppgifter{% endblock %}

{% block body %}

    <h1> Uppgifter </h1>

    <p class="ovning"> Kmom02 </p>

    <nav class="navbar">
        <ul>
            <li><a href="{{ path("card-deck") }}">Card</a></li>
        </ul>
    </nav>

    <p class="ovning"> Kmom03 </p>

    <nav class="navbar">
        <ul>
            <li><a href="{{ path("game") }}">Game</a></li>
        </ul>
    </nav>

    <div class="practice-img">
        <img src="{{ asset("img/pexels-practice.jpg") }}" alt="Dekorativ bild">
    </div>

{% endblock %}