{% extends 'base.html.twig' %}

{% block title %}Uppgifter{% endblock %}

{% block body %}


<nav class="navbar">
    <ul>
        <li><a href="{{ path("card") }}">Card</a></li>
    </ul>
</nav>

        <p>
        Skriv text här..
        </p>

{% endblock %}