{% extends 'base.html.twig' %}

{% block title %}Game doc{% endblock %}

{% block body %}

    <h1> Game doc </h1>

    {{ include('./game/navbar.html.twig') }}

    <p>Uppdaterad dokumentation</p>
    <div class="practice-img">
        <img src="{{ asset("img/pexels-card.jpg") }}" alt="Dekorativ bild på kort">
    </div>

    <h2>Black Jack</h2>
    <p>Spelet går ut på att komma så nära talet 21 som möjligt utan att bli "tjock", det vill säga få över 21. Man måste dessutom ha bättre kort än dealern. Varje spelare spelar MOT dealern, inte mot varandra. Alla klädda kort är värda 10, ess är 11 eller 1. Om spelarens 2 första kort är ett ess och ett klätt kort/en 10:a kallas det Black Jack och ger en och en halv gånger insatsen, såvida inte dealern också får Black Jack. Får spelaren Black Jack, och dealern har ess som första kort kan spelaren välja att ta "jämna pengar", det vill säga få vinst lika stor som insatsen. Om både spelare och dealer har 17, 18 eller 19 så vinner dealern, har både spelare och dealer 20 eller 21 så blir det lika, dvs ingen vinst till spelaren men han blir heller inte av med sin insats. </p>

    <h3>Flödesschema</h3>

    <div class="game-img">
        <img src="{{ asset("img/blackjack2.png") }}" alt="Flödesschema">
    </div>

    <h3>Pseudokod</h3>
    <pre>
        Skapa kortlek enligt följande värden:
        
        - 52 kort
        - 1-10, värde = vad kortet anger
        - Ess, värde = 11
        - Knekt/dam/kund, värde = 10
        
        Skapa en array med färg
        Skapa en array med värde
        Skapa en kortlek av de två arrayerna

        Blanda kortleken

        En spelare kan spela med en dealer.

        Dela ut 2 öppna kort till spelare och 2 öppna till dealern.
        Spara korten i varje enskild hand och total summa (int)

        Spelaren kan välja hit eller stand:
        - Hit:
            Dela ut 1 kort.
        - Stand:
            Dealerns tur.
        - Summera händer.
        
        Dealerns tur:
        - Om summa av hand >= 17, stand
        - Om summ av hand < 17, hit

        Check for winner:
        - Den som får över 21 poäng förlorar.
        - Om dealer och player har samma poäng
            - Om poäng är 17, 18 eller 19: dealer vinner.
            - Om poäng är 20 eller 21: oavgjort.
            - Om poäng är mer än 21: spelet slut, ingen vann.
        - Den med högst poäng vinner när:
            - player har stannat.
            - dealer har stannat.
        
        När spelet är slut kan spelaren välja att spela igen.
    </pre>

<div class="klasser">
    <h3>Klasser</h3>

    <h4>Card</h4>
    <p>Beskriver korten. Skapar string av korten.</p>

    <h4>Deck</h4>
    <p>Skapar kortleken. Blandar korten. Delar ut korten.</p>

    <h4>Player</h4>
    <p>Håller reda på spelarna</p>

    <h4>Game</h4>
    <p>Har hand om spelets gång. Hanterar hit, stand mm.</p>

</div>   


{% endblock %}