{% extends 'base.html.twig' %}

{% block title %}Library{% endblock %}

{% block body %}

    <h1>Library</h1>

{{ include('./book/navbar.html.twig') }}

<h2>h2 titel</h2>
<p>
    Text
</p>



{% endblock %}