<nav class="navbar">
    <ul>
        <li><a href="{{ path("book") }}">Home</a></li> |
        <li><a href="{{ path("create_book") }}">Create</a></li> |
        <li><a href="{{ path("book_show_all") }}">Show</a></li>
    </ul>
</nav>