<nav class="navbar">
    <ul>
        <li><a href="{{ path("dice-home") }}">Home</a></li> | 
        <li><a href="{{ path("dice-hand-home") }}">Hand</a></li> | 
        <li><a href="{{ path("dice-graphic-home") }}">Graphic</a></li>
    </ul>
</nav>