{% extends 'project.html.twig' %}

{% block title %}Project about{% endblock %}

{% block body %}

<h1>Äventyrsspel</h1>
<p>
    Mitt projekt är ett äventyrsspel, som handlar om en flicka som hamnat på Treasure Island vid en låst kista. 
    För att vinna behöver flickan ta sig runt ön, och beroende på vilken väg hon väljer behöver hon plocka upp olika 
    saker för att ha tillräckligt med liv och mat för att överleva attacker och ta sig i mål. Spelet består av 
    fem "rum", eller önamn. Där kan man ta sig vidare till näsa del av spelet, utföra en handling, eller gå tillbaka.
</p> 

<h2>Projektets kodkvalitet</h2>
<p>
    Jag har framförallt använd mig av phpcs, phpstan och phpmd för att kontrollera min kod. Från förgående kmom har jag tagit med 
    mig kunskapen om komplex kod. Jag har tänkt extra när jag skrivit, och efter att koden utvärderas med scrutinizer har jag 
    förbättrad den ytterligare. Att dela upp koden och använda mindre if-satser, och istället organisera koden annorlunda är 
    något jag känner att jag mer och mer naturligt faller in i, så det känns kul.
</p>

<a href="{{ asset("../docs/api") }}">Phpdoc</a><br>
<a href="{{ asset("../docs/metrics") }}">Phpmetrics</a><br>
<a href="https://github.com/Aeen/anns21-mvc">GitHub</a><br>
<a href="https://scrutinizer-ci.com/g/Aeen/anns21-mvc/inspections">Scrutinizer</a><br>
<a href="{{ path("cleancode") }}">Clean code</a><br><br>
<a href="{{ path("reset-database") }}">Återställ databas</a>


{% endblock %}
